<div class="join-box">
  <div class="texts">
    <div class="titles">
      <h1><img src="assets/icons/graduation-cap.png">Edumotive</h1>
      <h1>Միացիր մեր համաշխարհային ուսուցման ցանցին</h1>
      <div class="sub">
        <h2>Միացի՛ր հազարավոր սովորողների՝ աշխարհի տարբեր ծայրերից։</h2>
        <h2> Կիսվիր գաղափարներով, համագործակցիր նախագծերի շուրջ և
          զարգացիր միասին՝ աջակցող ու ներշնչող միջավայրում:</h2>
      </div>
      <button nz-button nzType="primary" class="explore-btn" (click)="onGo()">Միանալ հենց հիմա</button>

    </div>

  </div>
  <app-scroller-form
    [imgWidth]="200"
    [imgHeight]="200"
    [countArray]="[0,1,2,3]"
    [groups]="testimonials"
  ></app-scroller-form>
</div>

