<div class="top-courses">
  <h1>Լավագույն դասընթացները՝ սկսելու համար</h1>

  <nz-tabs>
    <nz-tab nzTitle="Ծրագրավորում">
      <app-card-config
        [cards]="programmingCards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="Տվյալների վերլուծություն">
      <app-card-config
        [cards]="dataCards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="Դիզայն">
      <app-card-config
        [cards]="designCards"
      ></app-card-config>
    </nz-tab>

    <nz-tab nzTitle="Մարքեթինգ">
      <app-card-config
        [cards]="marketingCards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="Բոլորը">
      <app-card-config
        [cards]="cards"
      ></app-card-config>
    </nz-tab>
  </nz-tabs>
</div>
