<div class="top-courses">
  <h1>Լավագույն դասընթացները՝ սկսելու համար</h1>

  <nz-tabs>
    <nz-tab nzTitle="Բոլորը">
      <app-card-config
        [cards]="cards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="Ծրագրավորում">

      <app-card-config
        [cards]="cards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="Տվյալների վերլուծություն">
      <app-card-config
        [cards]="cards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="UI/UX դիզայն">
      <app-card-config
        [cards]="cards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="Գրաֆիկ դիզայն">
      <app-card-config
        [cards]="cards"
      ></app-card-config>
    </nz-tab>
    <nz-tab nzTitle="Մարկեթինգ">
      <app-card-config
        [cards]="cards"
      ></app-card-config>
    </nz-tab>
  </nz-tabs>
</div>
