<nz-layout>
  <app-header></app-header>

  <div class="hero-section">
    <div class="hero-text">
      <h1>Նոր հմտություններ, նոր հնարավորություններ</h1>
      <p>
        Քո հաջողության ճանապարհը սկսվում է այստեղ։ Այստեղ դու կգտնես գիտելիքներ ու հմտություններ, որոնք կբացեն նոր
        հնարավորությունների դռներ։ Սկսիր այսօր և կառուցիր այն ապագան, որի մասին միշտ երազել ես!
      </p>
      <button nz-button nzType="primary" class="explore-btn" (click)="goToCourses()">Բացահայտիր
      </button>

      <div class="learners">
        <img src="/assets/user1.jpg" alt="User 1" class="learner-img"/>
        <img src="/assets/user2.jpg" alt="User 2" class="learner-img"/>
        <img src="/assets/user3.jpg" alt="User 3" class="learner-img"/>
        <div class="learner-info">
          <strong>1k+</strong>
          <span>Հաջողակ ուսանողներ</span>
        </div>
      </div>
    </div>

    <div class="hero-image-container">
      <div class="tags">
        @for (course of courses; track course.slug) {
          <a href="/{{course.slug}}" class="tag">{{course.title}}</a>
        }
      </div>
    </div>
  </div>
  <app-courses-config
    [cards]="bestCourses"
    [sectionTitle]="coursesTitle"
    [sectionSubTitle]="coursesSubTitle"
  ></app-courses-config>
  <app-why-choose></app-why-choose>
  <app-tab [cards]="courses"></app-tab>
  <app-benefits-section></app-benefits-section>
  <app-reviews></app-reviews>
  <app-steps-section></app-steps-section>
  <app-app-faq [faqs]="faqs" ></app-app-faq>
  <app-join-part></app-join-part>
  <app-footer></app-footer>
</nz-layout>
