.hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #062b25;
  color: white;
  padding: 180px clamp(20px, 5vw, 100px);
}

.hero-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-top: 80px;
  padding-right: 50px;
}

.hero-text h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
}

.hero-text p {
  width: 90%;
  font-weight: 500;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #d4d4d4;
}

.explore-btn {
  width: 200px;
  background-color: #c8f15c;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 24px 30px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.learners {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.learner-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  //margin-right: -10px;
}

.learner-info {
  margin-left: 25px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.hero-image-container {
  max-width: 650px;
  height: 800px;
  display: flex;
  align-items: end;
  background: url("/assets/log-in.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;

  .tags {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;

    .tag {
      margin: 10px;
      padding: 15px 20px;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      background-color: white;
      color: black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #c8f15c;
        color: white;
        cursor: pointer;
      }
    }
  }
}

/* -------- Responsive Styles -------- */

/* Tablets */

@media (max-width: 1690px) {
  .hero-section {
    flex-direction: column;
    padding: 120px 40px;
  }

  .hero-text {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-right: 0;
  }

  //.hero-text h1 {
  //  font-size: 42px;
  //}
  //
  //.hero-text p {
  //  width: 100%;
  //  font-size: 16px;
  //}

  .explore-btn {
    margin-top: 30px;
    width: 180px;
    padding: 20px 25px;
  }

  .learners {
    justify-content: center;
    margin-top: 50px;
  }

  .hero-image-container {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    padding: 120px 40px;
  }

  .hero-text {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-right: 0;
  }

  .hero-text h1 {
    font-size: 42px;
  }

  .hero-text p {
    width: 100%;
    font-size: 16px;
  }

  .explore-btn {
    margin-top: 30px;
    width: 180px;
    padding: 20px 25px;
  }

  .learners {
    justify-content: center;
    margin-top: 50px;
  }

  .hero-image-container {
    margin-top: 60px;
    height: 500px;
    max-width: 500px;
  }
  .tags {
    height: 50% !important;
  }

  .tag {
    padding: 10px 15px;
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero-section {
    padding: 100px 20px;
  }

  .hero-text h1 {
    font-size: 34px;
  }

  .hero-text p {
    font-size: 15px;
  }

  .hero-image-container {
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  .tags {
    height: 60% !Important;
    gap: 8px;
  }

  .tag {
    padding: 10px 15px;
    font-size: 14px;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .explore-btn {
    width: 160px;
    padding: 16px 22px;
    font-size: 16px;
  }

  .learner-img {
    width: 45px;
    height: 45px;
  }
}
