<nz-layout>
  <app-header></app-header>
  <div class="container">
    <div class="pic"></div>
    <div class="text">
      <h1>Էջը չի գտնվել</h1>
      <p>Ներողություն, բայց ձեր որոնած էջը գոյություն չունի։ Այն կարող է տեղափոխված լինել, ջնջված, կամ մուտքագրած հղումը
        կարող է սխալ լինել։</p>
      <p>Խնդրում ենք օգտագործել նավիգացիոն մենյուն մեր կայքը ուսումնասիրելու համար կամ վերադառնալ գլխավոր էջ։ Եթե
        օգնության կարիք ունեք, կարող եք կապվել մեր աջակցության թիմի հետ։</p>
      <button nz-button nzType="primary" (click)="goToHome()">Վերադառնալ</button>
    </div>
  </div>
  <app-footer></app-footer>
</nz-layout>
