.custom-footer {
  width: 100%;
  background-color: #062b25;
  color: white;
  padding: 40px 0;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copy{
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .border{
    width: 80%;
    border-top: 1px solid grey;
  }
  .text{
    width: 80%;
    margin-top: 30px;
    text-align: start;
  }
}


.footer-inner {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo img {
  height: 28px;
}

.footer-col {
  width: 30%;
  display: flex;
  flex-direction: column;

  margin-left: 30px;
}

.footer-col h4 {
  color: white;
  font-weight: bold;
  margin-bottom: 12px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 6px 0;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.social {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: red;

  nz-icon {
    border-color: red
  }
}

.subscribe-box {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 10px;
}

.subscribe-box input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
}

.subscribe-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.arrow-btn {
  color: #c8f15c;
  font-size: 18px;
}
