  <div nz-row  class="cards">
    @for (card of cards; track card.title) {
      <div nz-col >
        <nz-card>
          <div class="card-pic"   [style.background-image]="'url(/assets/' + card.imageUrl + ')'">
            @if (!card.isBlog) {
              <button nz-button nzType="default">{{ card?.groupName ?? '' }}</button>
            }
          </div>
          @if (!card.isBlog) {
            <div class="title-part">
              <h1>{{ card?.title }}</h1>
              <h1>{{ card?.priceAmd }}Դրամ</h1>
            </div>
            <div class="writer">
              <p>{{  card.authorName }}</p>
            </div>
            <div class="lesson-times">
              <div class="lessons">
                <div class="title">
                  <img src="./assets/file.png">
                  <span>Դասեր</span>
                </div>
                <p>{{ card.lessonsCount }} դաս</p>
              </div>

              <div class="times">
                <div class="title">
                  <img src="./assets/clock.png">
                  <span>Տևողություն</span>
                </div>
                <p>{{ card.duration }}</p>
              </div>
            </div>
            <div class="btn-part">
              <button
                nz-button
                nzType="default"
                (click)="goToCourse(card.id)"
              >
                Ավելին
              </button>
            </div>
          } @else {
            <div class="dates-part">
              <i></i>
              <p>{{ card.duration }}</p>
            </div>
            <div class="content">
              <h1>{{ card.title }}</h1>
              <h1>{{ card.duration }}</h1>
              <p>Կարդալ ավելին</p>
            </div>
          }
        </nz-card>
      </div>
    }
  </div>

