<div class="benefits-section">
  <div class="texts">
    <h1 class="title">Շարունակական զարգացում, անսահման հնարավորություններ</h1>
    <h2>EduMotive-ի առցանց ուսուցման հարթակը հնարավորություն է տալիս անհատներին ու թիմերին զարգացնել կարևոր հմտություններ
      և բարձրացնել կարիերայի հանդեպ վստահությունը։ Մեր մասնագիտորեն մշակված բովանդակությունը երաշխավորում է որակյալ
      ուսուցում։</h2>
    <h1>📚 Լայնածավալ թեմաներ</h1>
    <h3>Անկախ նրանից՝ արդյոք ցանկանում ես կատարելագործել մասնագիտական հմտություններդ, բացահայտել ստեղծագործական
      հետաքրքրություններդ կամ զարգացնել անձնական կարողություններդ, մեր բազմազան դասընթացների ցանկում կա մի բան
      յուրաքանչյուրի համար։</h3>
    <h1>🎓 Ճանաչված վկայականներ</h1>
    <h3>Ստացիր ոլորտում ճանաչված վկայականներ՝ քո հմտությունները ցույց տալու, կենսագրությունդ (ռեզյումեն) հարստացնելու և
      նոր կարիերային հնարավորություններ բացելու համար։</h3>
  </div>
  <div class="pic-box">
    <div class="pic"></div>
  </div>
</div>
