<app-header></app-header>

@if (author) {
  <div class="head">
    <div class="pic">
      <img [src]="'/assets/'+author.imageUrl" [alt]="author.fullName" class="learner-img"/>
    </div>
    <div class="info">
      <h1>{{ author.fullName }}</h1>
      <p>{{ author.specialization }}</p>
      <div class="subInfo">
        @if (author.experience) {
          <div class="sub">
            <p>Փորձ</p>
            <span>{{ author.experience }}</span>
          </div>
        }
        @if (author.education) {
          <div class="sub">
            <p>Կրթություն</p>
            <span>{{ author.education }}</span>
          </div>
        }
        @if (author.specialization) {
          <div class="sub">
            <p>Մասնագիտացում</p>
            <span>{{ author.specialization }}</span>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="body">
    <div class="about">
      @if (author.about) {
        <h1>{{ author.fullName }}ի մասին</h1>
        <p [innerHTML]="author.about"></p>
      }
      @if (author.teachingPhilosophy) {
        <h1>Դասավանդման փիլիսոփայություն</h1>
        <p [innerHTML]="author.teachingPhilosophy"></p>
      }
      @if (author.whatYouLearn) {
        <h1>Ինչու սովորել {{ author.fullName }}ից</h1>
        <p [innerHTML]="author.whatYouLearn"></p>
      }
    </div>

    @if (author.skills) {
      <div class="skills">
        <h1>Հմտություններ և փորձառություն</h1>
        <p [innerHTML]="author.skills"></p>
      </div>
    }
  </div>

  @if (authorCourses.length) {
    <div class="courses">
      <app-courses-config
        [cards]="authorCourses"
        [sectionTitle]="'Դասընթացներ ' + author.fullName + 'ից'"
      ></app-courses-config>
    </div>
  }

} @else {
  <div class="author-loading">
    <nz-spin nzSize="large"></nz-spin>
  </div>
}

<app-join-part></app-join-part>
<app-footer></app-footer>
