<app-header></app-header>
<div class="head">
  <div class="pic">
    <img src="/assets/author.png" alt="User 1" class="learner-img"/>
  </div>
  <div class="info">
    <h1>Ռուբեն Մեսչյան</h1>
    <p>Թվային Մարքեթինգի Վարպետ Մասնագետ</p>
   <div class="subInfo">
     <div class="sub">
       <p>Փորձ</p>
       <span>10 տարվա փորձ</span>
     </div>
     <div class="sub">
       <p>Կրթություն</p>
       <span>Թվային Մարքեթինգի Վարպետություն, Սերտիֆիկացված Տվյալագիտության Մասնագետ՝ IBM-ի կողմից</span>
     </div>
     <div class="sub">
       <p>Մասնագիտացում</p>
       <span>Թվային Մարքեթինգի Վարպետության Հիմնականներ</span>
     </div>
   </div>
  </div>
</div>

<div class="body">
<div class="about">
  <h1>Ռուբեն Մեսչյանի մասին</h1>
  <p>Ռուբեն Մեսչյանը փորձառու գրաֆիկական դիզայներ է՝ ավելի քան 10 տարվա փորձով՝ ստեղծելով ինտուիտիվ և ներգրավող թվային փորձառություններ։ Աշխատելով առաջատար տեխնոլոգիական, էլեկտրոնային առևտրի և ֆինտեք ընկերությունների հետ (օրինակ՝ Google, Adobe կամ խոշոր դիզայն գործակալություններ), Ռուբեն Մեսչյանը մասնագիտանում է օգտագործողակենտրոն դիզայնի, փոխազդեցության դիզայնի և կիրառելիության օպտիմալացման մեջ։
<br>
    Իր կարիերայի ընթացքում նա ղեկավարել է դիզայնի ամբողջական նախագծեր՝ սկիզբից մինչև ավարտ՝ ներառյալ վայրէրֆրեյմինգը, պրոտոտիպավորումը, օգտագործողների թեստավորումը և դիզայն համակարգերի իրագործումը։ Նրա փորձառությունը ընդգրկում է վեբ և բջջային հավելվածներ՝ ապահովելով անթերի օգտագործողի փորձ տարբեր հարթակներում։</p>
  <h1>Դասավանդման փիլիսոփայություն</h1>
  <p>«Իմ նպատակը գրաֆիկական դիզայնը բոլորի համար մատչելի դարձնելն է՝ անկախ նախապատմությունից։ Ես կենտրոնանում եմ բարդ դիզայնի սկզբունքները բաժանել պրակտիկ, իրական կյանքի կիրառությունների։ UI/UX սովորելն ավելի է, քան պարզապես գործիքներ իմանալը․ այն վերաբերում է իմաստալից փորձառություններ ստեղծելուն, որոնք լուծում են օգտագործողի խնդիրները»։</p>
  <h1>Ինչու սովորել Ռուբեն Մեսչյանից</h1>
  <p>Ապացուցված փորձառություն. Ավելի քան 10 տարվա իրական աշխատանքային փորձ Տվյալագիտության ոլորտում։<br>
    Ներգրավող ուսուցման ոճ. Բարդ թեմաները պարզ և կիրառական դասերի է վերածում։<br>
    Խորը ուսուցում TensorFlow և PyTorch տեխնոլոգիաներով։<br>
    Գործնական մոտեցում. Ներառում է իրական նախագծեր, տվյալաշարեր և վարժություններ՝ հմտությունները զարգացնելու համար։</p>
</div>
<div class="skills">
  <h1>Հմտություններ և փորձառություն</h1>
  <p>Ռուբեն Մեսչյանը իր դասավանդման մեջ բերում է լայն շրջանակի հմտություններ․</p>
<ul>
  <li>Օգտագործողների հետազոտություն և անձնավորումներ (Personas)</li>
  <li>Վայրէրֆրեյմինգ և պրոտոտիպավորում</li>
  <li>Վիզուալ դիզայն և բրենդավորում</li>
  <li>Փոխազդեցության դիզայն և միկրո-փոխազդեցություններ</li>
  <li>Տվյալների վիզուալիզացում Python-ի (Matplotlib, Seaborn) և Tableau-ի միջոցով</li>
  <li>Կիրառելիություն և հասանելիություն</li>
  <li>UI դիզայնի գործիքներ և ծրագրային ապահովում</li>
</ul>
</div>

</div>
<div class="courses">
<app-courses-config
  [cards]="cards"
  [sectionTitle]="coursesTitle"
></app-courses-config>
</div>
<app-join-part></app-join-part>
<app-footer></app-footer>
