.head {
  width: 100%;
  background: #0E3128;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px 200px 150px 200px;

  .pic {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      max-width: 631px;
      border-radius: 16px;
    }
  }

  .info {
    width: 50%;
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-self: start;


    .subInfo {
      width: 100%;
      display: flex;
      flex-direction: column;

      .sub {
        display: flex;

        p {
          width: 30%;
        }

        span {
          width: 70%;
        }
      }
    }

    h1 {
      font-size: 50px;
      color: #FFFFFF;
      margin-bottom: 50px;
    }

  }
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 100px 200px;

  h1 {
    font-size: 35px;
    font-weight: bold;
  }

  p{
    font-size: 18px;
  }
  .about {
    width: 60%;
    height: 100%;
  }

  .skills {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    ul{
      font-size: 16px;
    }
  }

}
.courses{
  width: 70%;
}
