.reviews-section {
  overflow: hidden;

  padding: 2rem 0;
  margin-top: 50px;

  .reviews-row {
    overflow: hidden;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .reviews-track {
      display: flex;
      align-items: center;
      justify-content: center;
      animation: scroll 10s linear infinite;
      overflow: hidden;

      &.alt {
        animation: scroll-reverse 10s linear infinite;
      }
    }

    .reviews-slide {
      flex: 0 0 auto;
      margin-right: 1rem;

      .card {
        display: flex;
        //background: white;
        border-radius: 1rem;
        padding: 1rem;
        width: 350px;
        text-align: left;

        .user {
          margin-right: 10px;

          img {
            //width: 100px;
            //height: 100px;
            border-radius: 10px;
          }
        }

        p {
          font-size: 0.9rem;
          color: #333;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
