<div class="about-us-page">
  <app-header></app-header>
  <div class="head-part">
    <h1>Բացահայտիր․ Սովորիր․ Զարգացիր</h1>
    <p>Քո վստահելի աղբյուրը գիտելիքի, խորհուրդների համար՝ խթանելով աճը, հաջողությունը և ողջ կյանքի ընթացքում<br> շարունակական ուսուցումը կրթության և տեխնոլոգիաների ոլորտներում</p>
  </div>
  <app-courses-config
    [cards]="cards"
    [sectionTitle]="featuredCoursesTitle"
    [sectionSubTitle]="featuredCoursesSubTitle"
  ></app-courses-config>
</div>
  <app-join-part></app-join-part>
  <app-footer></app-footer>

