.ant-page-header{
  width: 100%;
  border-radius: 20px;
  border: 1px solid red;
}
/* HeaderComponent container */
.custom-header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1000; /* stays above other elements */
  background: transparent;
  display: flex;
  justify-content: center;
}
/* Inner content with white rounded background */
.header-inner {
  width: 75%;
  height: 90px;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Logo */
.logo {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/assets/logo.png");
  background-size: 100% 100%;
  cursor: pointer;
}
.logo img {
  height: 28px;
}

/* Menu */
.menu {
  flex: 1;
  justify-content: center;
  border-bottom: none;
  text-align: end;
  font-size: 16px;
  font-weight: 500;
   &.active{
     font-weight: bold;
   }
  li{
    margin: 0 5px;
  }
}


/* Buttons */
.header-buttons {
  display: flex;
  gap: 8px;

  .btn-signin {
    border-radius: 25px;
    width: 130px;
    height: 50px;
    &:hover{
      background: black;
      color: white;
      border: none;
    }
  }

  .btn-signup {
    background-color: #c8f15c;
    border: none;
    border-radius: 25px;
    width: 130px;
    height: 50px;
    color: black;
    font-weight: bold;

    &:hover{
      background: black;
      color: white;
      border: none;
    }
  }
}

:host .menu ::ng-deep .ant-menu-item:hover,
:host .menu ::ng-deep .ant-menu-submenu-title:hover {
  background: #c8f15c !important;
  color: black !important;
  border-radius: 15px;

}

:host .menu ::ng-deep .ant-menu-item::after,
:host .menu ::ng-deep .ant-menu-submenu-title::after{
  border-bottom: none !important;
}

/* Selected state for menu items */
:host .menu ::ng-deep .ant-menu-item-selected,
:host .menu ::ng-deep .ant-menu-submenu-selected {
  background: #c8f15c !important;
  color: black !important;
  border-radius: 15px;
}

