<div class="about-us-page">
  <app-header></app-header>
  <div class="head-part">
    <h1>Բացահայտիր մեր դասընթացները</h1>
    <p>Բացիր քո ներուժը Edumotive-ի կողմից մշակված դասընթացների միջոցով՝ նախատեսված թե՛ սկսնակների,<br> թե՛ կարիերայի
      զարգացման, թե՛ քո սիրելի նախագծերի համար</p>
  </div>

  <app-courses-config
    [cards]="cards"
    [sectionTitle]="featuredCoursesTitle"
    [sectionSubTitle]="featuredCoursesSubTitle"
  ></app-courses-config>
</div>

<app-join-part></app-join-part>
<app-footer></app-footer>
