<div class="why-choose">
  <h2>Ինչու ընտրել EduMotive-ը</h2>
  <p>
    Մենք տրամադրում ենք մասնագետների կողմից ստեղծված դասընթացներ, ճկուն ուսուցում,
    բացառիկ աջակցություն, նորարարական գործիքներ և որակյալ ուսուցման փորձ։
  </p>

  <div class="cards">
    @for (card of cards; track card.title) {
      <div class="card">
        <div class="card-front">
          <div class="icon"><img src="{{card.icon}}"></div>
          <h3>{{ card.title }}</h3>

          <div class="desc-part">
            <p>{{ card.text }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
