<div class="about-us-page">
  <app-header></app-header>
  <div class="head-part">
    <h1>Պարզեցված հմտություններ,<br> հասանելի ուսուցում</h1>
    <p>Բացահայտիր գիտելիքներ, սովորիր փորձագետներից և հասիր նպատակներ հետաքրքիր,<br> կենդանի և ինտերակտիվ ուսուցման
      փորձի
      միջոցով։</p>
  </div>
  <div class="second-part">
    <div class="text-part">
      <h1>Ովքե՞ր ենք մենք</h1>
      <p>
        Edumotive-ում մենք հավատում ենք, որ ուսուցումը պետք է հասանելի լինի բոլորի համար։ Մեր առաքելությունն է
        հմտությունների զարգացումը դարձնել պարզ, ճկուն և արդյունավետ՝ հնարավորություն տալով սովորողներին իրենց
        պայմաններով հասնել նպատակներին։ Լայնածավալ դասընթացների և գործիքների միջոցով մենք բերում ենք որակյալ կրթությունը
        քո ձեռքի տակ՝ ցանկացած ժամանակ, ցանկացած վայրում։<br>

        Մեր անունը խորհրդանշում է քո կրթական նպատակների ուղղությամբ համարձակ քայլեր կատարելու մեր նվիրումը։ Անկախ
        նրանից՝ դու աշխատող մասնագետ ես, ուսանող կամ ողջ կյանքի ընթացքում սովորող, մենք այստեղ ենք՝ աջակցելու քո
        ճանապարհին։</p>
      <button nz-button nzType="primary" class="explore-btn">Բացահայտիր մեր դասընթացները</button>
    </div>
    <div class="pic-part"></div>
  </div>
  <div class="numbers-part">
    <div class="title">
      <h1>Հաջողությունը՝<br> թվերով</h1>
    </div>
    <div class="success">
      <div class="succes"><h2>1K<span>+</span></h2>Փորձագետների կողմից մշակված դասընթացներ՝ ընդգրկելով լայն թեմատիկա</div>
      <div class="succes"><h2>5M<span>+</span></h2>Ուսանողներ, ովքեր արդեն ուժեղացել են ամբողջ աշխարհում</div>
      <div class="succes"><h2>95<span>%</span></h2>Մեր ուսանողների գոհունակության մակարդակ</div>
    </div>

  </div>

<app-why-choose></app-why-choose>
<div class="values-part">
  <div class="title-part">
    <h1>Edumotive-ի արժեքները</h1>
    <p>Edumotive-ում մեր արժեքներն են մեր գործունեության հիմքը</p>
  </div>
  <div class="values">
    <div class="value">
      <div class="icon rocket"></div>
      <h1>Նորարարական</h1>
      <p>Սովորիր գործնական կերպով՝ զարգացնելով իրական հմտություններ և ստեղծագործականություն, որոնք կօգնեն քո ճանապարհին։</p>
    </div>
    <div class="value">
      <div class="icon medal"></div>
      <h1>Հասանելի ուսուցում</h1>
      <p>Մուտք ստացիր հատուկ ընտրված դասընթացների, գործիքների և նյութերի գրադարան՝ հմտություններ ձեռք բերելու և նպատակներիդ հասնելու համար։</p>
    </div>
    <div class="value">
      <div class="icon sparkle"></div>
      <h1>Թափանցիկ</h1>
      <p>Մենք միավորում ենք աշխարհի տարբեր համայնքների սովորողներին բաց ու բազմազան միջավայրում՝ ստեղծելով աճի հնարավորություն։</p>
    </div>
  </div>
</div>
  <app-reviews></app-reviews>
  <app-app-faq></app-app-faq>
</div>
  <app-join-part></app-join-part>
  <app-footer></app-footer>
