nz-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .head-part {
    width: 100%;
    min-height: 550px;
    padding-top: 100px;
    background: #0E3128;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 50px;
      text-align: center;
      color: #fff;
    }

    p {
      width: 45%;
      font-size: 20px;
      text-align: center;
    }

    .contacts {
      display: flex;
      font-size: 20px;
      margin-top: 30px;

      span {
        padding: 0 20px;

        &:first-child {
          border-right: 1px solid #c8f15c;
        }
      }
    }
  }

  .body {
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0E3128;
    font-size: 20px;

    h1 {
      font-weight: bold;
      color: #0E3128;
    }

    form {
      width: 40%;
      display: flex;
      align-items: start;
      flex-direction: column;
      nz-form-item {
        width: 100%;
        input[nz-input] {
          width: 100%;
          height: 50px;
          border-radius: 20px;
          background-color: #FFFFFF !important;
          color: #fff;
          padding: 0 16px;
          margin: 10px 0;
          border: none;

          &:hover {
            border-color: #11443d !important;
          }

          &::placeholder {
            color: rgba(49, 67, 49, 0.6);
            font-size: 18px;
          }

          &:focus {
            border-color: #c8f15c;
            box-shadow: 0 0 0 3px rgba(200, 241, 92, 0.3);
            background-color: #11443d;
          }

          &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px #0e3a34 inset !important;
            -webkit-text-fill-color: #fff !important;
            caret-color: #fff !important;
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            transition: background-color 9999s ease-in-out 0s !important;
          }

          &:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0 1000px #11443d inset !important;
          }
        }
      }
      .explore-btn {
        width: 100%;
        background-color: #c8f15c;
        color: black;
        border: none;
        border-radius: 25px;
        padding: 30px 30px;
        margin-top: 40px;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: black;
          color: white;
          cursor: pointer;
          border: none;
        }
      }


    }


  }
}
