<nz-layout>
  <app-header></app-header>
  <div class="head-part">
    <h1>Գաղտնիության Քաղաքականություն</h1>
    <p>Մենք գերագույն արժեք ենք տալիս ձեր գաղտնիությանը և տվյալների անվտանգությանը։ Այս քաղաքականությունը բացատրում է,
      թե ինչպես ենք մենք հավաքում, օգտագործում և պաշտպանում ձեր տեղեկատվությունը։ Մեր հարթակից օգտվելով՝ դուք
      համաձայնում եք այս պայմաններին։</p>
    <div class="contacts">
      <span>Վերջին թարմացումը՝ 2025թ. սեպտեմբերի 28</span>
    </div>
  </div>
  <div class="body">
    <p class="desc">Edumotive-ում ձեր վստահությունը մեզ համար առաջնային է։ Մենք պարտավորվում ենք պաշտպանել ձեր գաղտնիությունն ու
      ապահովել ձեր անձնական տվյալների անվտանգությունը։ Այս Գաղտնիության Քաղաքականությունը բացատրում է՝ ինչպես ենք մենք
      հավաքում, օգտագործում,แบ่งում և պաշտպանում ձեր տվյալները, երբ դուք օգտվում եք մեր էլեկտրոնային ուսուցման հարթակից։
      Edumotive-ի ծառայություններից օգտվելով՝ դուք համաձայնում եք ստորև ներկայացված պայմաններին։</p>
    <div class="ol-container">
      <ol>
        <li>
          <strong>Ինչ տեղեկություն ենք մենք հավաքում</strong>
          <ol>
            <li>
              <strong>Անձնական տեղեկատվություն</strong>
              <p>Մենք հավաքում ենք անձնական տվյալներ, երբ դուք գրանցվում եք, օգտագործում եք մեր ծառայությունները կամ
                կապվում եք մեզ հետ։ Դրանք կարող են ներառել՝</p>
              <ul>
                <li><strong>Հաշվի տվյալներ․</strong> Անուն, էլ. փոստ, հեռախոսահամար, օգտանուն և գաղտնաբառ։</li>
                <li><strong>Վճարային տվյալներ․</strong> Քարդի տվյալներ, հաշիվների հասցեներ։</li>
                <li><strong>Պրոֆիլի տվյալներ․</strong> Նախապատվություններ, ուսման պատմություն, ստացած հավաստագրեր,
                  հետաքրքրող դասընթացներ։
                </li>
                <li><strong>Հաղորդակցություն․</strong> Տվյալներ, որոնք տրամադրում եք հաճախորդների աջակցությանը դիմելիս կամ
                  շփումներում։
                </li>
              </ul>
            </li>

            <li>
              <strong>Ոչ անձնական (անհատական չճանաչվող) տվյալներ</strong>
              <p>Մենք ավտոմատ կերպով հավաքում ենք անանուն տվյալներ՝ մեր ծառայությունները բարելավելու նպատակով։</p>
              <ul>
                <li><strong>Տեխնիկական տվյալներ․</strong> Բրաուզեր, օպերացիոն համակարգ, սարքի տեսակ, էկրանի
                  թույլատրելիություն։
                </li>
                <li><strong>Օգտագործման տվյալներ․</strong> Տևողություն հարթակում, այցելած էջեր, սեղմումներ,
                  ներգրավվածության չափումներ։
                </li>
                <li><strong>Տեղակայության տվյալներ․</strong> Ընդհանուր աշխարհագրական դիրք՝ IP հասցեի միջոցով։</li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <strong>Ինչպես ենք օգտագործում ձեր տեղեկատվությունը</strong>
          <ol>
            <li>
              <strong>Ծառայության մատուցում</strong>
              <ul>
                <li>Գրանցել և ակտիվացնել ձեր հաշիվը</li>
                <li>Մատչելի դարձնել դասընթացները</li>
                <li>Անհատականացված ուսումնական ուղիներ ստեղծել</li>
                <li>Հետևել առաջադիմությանը և տրամադրել հավաստագրեր</li>
              </ul>
            </li>

            <li>
              <strong>Կապ, ներգրավվածություն և բարելավում</strong>
              <ul>
                <li>Տեղեկացնել նոր դասընթացների, առաջարկների և միջոցառումների մասին</li>
                <li>Պատասխանել հարցերին</li>
                <li>Ուղարկել տեղեկագրեր և ուսուցողական խորհուրդներ</li>
                <li>Բարելավել հարթակի արդյունավետությունը</li>
                <li>Ստեղծել նոր ֆունկցիոնալություն</li>
                <li>Հասկանալ օգտվողների կարիքները</li>
              </ul>
              <p>Ձեր տվյալները կարող ենք մշակել նաև իրավական պարտավորությունների և վեճերի կարգավորման նպատակով։</p>
            </li>
          </ol>
        </li>

        <li>
          <strong>Ձեր տեղեկատվության փոխանցումը</strong>
          <p>Մենք կարող ենք կիսվել ձեր տվյալներով վստահելի երրորդ կողմերի հետ՝</p>
          <ul>
            <li>Վճարային համակարգեր</li>
            <li>Էլ․ փոստի ծառայություններ</li>
            <li>Վերլուծական գործիքներ</li>
          </ul>
          <p>Գործընկերները պարտավոր են պահպանել գաղտնիությունը և չեն կարող օգտագործել ձեր տվյալները այլ նպատակներով։</p>

          <p>Մենք կարող ենք հրապարակել տվյալներ նաև՝</p>
          <ul>
            <li>Իրավական պահանջները կատարելու համար</li>
            <li>Կանխելու կամ հետաքննելու խաբեություն կամ անվտանգության ռիսկեր</li>
            <li>Միաձուլման, ձեռքբերման կամ ակտիվների վաճառքի դեպքում (նախապես տեղեկացնելով)</li>
          </ul>
        </li>

        <li>
          <strong>Ձեր ընտրությունը և վերահսկումը</strong>
          <ul>
            <li>Խմբագրել կամ ջնջել անձնական տվյալները հաշվից</li>
            <li>Չեղարկել մարքեթինգային նամակները ("Unsubscribe")</li>
            <li>Կառավարել cookies-ները բրաուզերի մեջ</li>
          </ul>
        </li>

        <li>
          <strong>Տվյալների պահպանում</strong>
          <p>Ձեր տվյալները պահպանում ենք այնքան ժամանակ, որքան անհրաժեշտ է՝</p>
          <ul>
            <li>Քաղաքականությամբ սահմանված նպատակների համար</li>
            <li>Իրավական պահանջները կատարելու համար</li>
            <li>Վեճեր լուծելու համար</li>
          </ul>
          <p>Երբ տվյալները այլևս անհրաժեշտ չեն, դրանք ջնջում կամ անանունացնում ենք։</p>
        </li>

        <li>
          <strong>Cookie-ների և թրեքինգ տեխնոլոգիաների օգտագործում</strong>
          <p>Մենք օգտագործում ենք՝</p>
          <ul>
            <li>Կարևոր cookies</li>
            <li>Արտադրողականության cookies</li>
            <li>Թիրախավորման cookies</li>
          </ul>
          <p>Դուք կարող եք կառավարել cookies-ները բրաուզերի կարգավորումներից։</p>
        </li>

        <li>
          <strong>Անվտանգության միջոցառումներ</strong>
          <ul>
            <li>SSL/TLS կոդավորում</li>
            <li>Մուտքի իրավունքների սահմանափակումներ</li>
            <li>Անվտանգության ստուգումներ</li>
            <li>Սպառնալիքների մշտադիտարկում</li>
          </ul>
          <p>Խորհուրդ ենք տալիս օգտագործել ուժեղ գաղտնաբառ և միացնել 2FA։</p>
        </li>

        <li>
          <strong>Երեխաների գաղտնիություն</strong>
          <p>Edumotive-ը նախատեսված չէ 13 տարեկանից ցածր երեխաների համար։ Նրանց տվյալները չենք հավաքում։</p>
        </li>

        <li>
          <strong>Ձեր իրավունքները</strong>
          <ul>
            <li>Մուտք ձեր տվյալներին</li>
            <li>Տվյալների խմբագրում</li>
            <li>Ջնջման պահանջ</li>
            <li>Մշակման սահմանափակում կամ առարկություն</li>
            <li>Տվյալների տեղափոխում</li>
          </ul>
          <p>Կապ՝ support@edumotive.com</p>
        </li>

        <li>
          <strong>Երրորդ կողմերի հղումներ</strong>
          <p>Մենք չենք պատասխանատու արտաքին կայքերի գաղտնիության քաղաքականությունների համար։</p>
        </li>

        <li>
          <strong>Գաղտնիության Քաղաքականության թարմացումներ</strong>
          <p>Տեխնոլոգիական կամ իրավական փոփոխությունների դեպքում այս քաղաքականությունը կարող է թարմացվել։</p>
        </li>

        <li>
          <strong>Կապ մեզ հետ</strong>
          <p>Էլ․ փոստ՝ support@edumotive.com<br>Հեռախոս՝ +1 (123) 456-7890</p>
        </li>
      </ol>

    </div>
  </div>
<app-footer></app-footer>
</nz-layout>
